/*--------------------------------------------------------------
                    THIS IS MY CUSTOM CSS
--------------------------------------------------------------*/

/* =============================================================
          Skill Box Section
================================================================ */

.skills-title {
  font-size: 26px;
  font-weight: 8000;
  /* margin-top: 20px;
margin-bottom: 20px; */
  /* justify-content: center; */
  color: #3b434a;
}

skillBox .skillBox::before,
.skillBox::after {
  box-sizing: border-box;
}

.skillBox .container {
  width: 100%;
  height: auto;
  margin: auto;
  /* border: 10px solid black; */
}

.skillBox .container h3 {
  width: flex;
  height: 20px;
  font-size: 16px;
  /* font-weight: 700; */
  /* background-color: #ffc85a; */
  padding: 10px 20px 29px 20px;
  font-weight: 600;
  color: black;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-bottom: 0;
}

.skillBox .container {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (max-width: 575px) {
  .skillBox .container h3 {
    font-size: 14px;
    height: 10px;
    padding: 3px 8px 19px 8px;
    border: 1px solidrgb(0, 0, 0);
    border-radius: 8px;
  }
}

/* =====================================================
Button Read More
======================================================== */

/* .btn-read-more {
  color: white;
  position: relative;
  transition: all 0.3s ease;
  font-weight: 500;
  padding: 6px 12px;
  text-decoration: none;
  display: inline-block;
}

.btn-read-more::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: white;
  transition: width 0.3s;
  bottom: 0;
  left: 0;
}

.btn-read-more:hover::after {
  width: 100%;
}

.btn-read-more:hover {
  color: #f8f9fa;
  transform: scale(1.05);
} */

.btn-custom-card {
  background-color: black;
  color: white;
  border: 5px solid;
  border-color: white !important;
  transition: all 0.3s ease;
}

.btn-custom-card:hover {
  background-color: white;
  color: black;
  border-color: black !important;
}

/* =====================================================
Custom Text Outline
======================================================== */

.text-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-weight: bold;
}

/* =====================================================
                Custom Carousel Button
======================================================== */

.custom-carousel-btn {
  width: 45px;
  height: 45px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(140, 140, 146); 
  border: none;
  border-radius: 50%;
  color: white;
  z-index: 10;
  transition: background-color 0.3s ease-in-out;
}

.custom-carousel-btn:hover {
  background-color: #000000; 
}

.carousel-control-icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =====================================================
                Custom Card Style
======================================================== */

.card-body{
  background-color: rgba(158, 158, 158, 0.185);
  color: #000;
}
